<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Web Developer and Photographer based in Santa Clara, Ca. Portfolio">
    <meta name="keywords" content="learn, thai, consonants">
    <meta name="author" content="Kennedy DeSousa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://dummyimage.com/16x16/000/fff.jpg">
    <!-- <link rel="stylesheet" type=text/css href="css/stylesheet.css"> -->
    <!-- link when using flask  -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='stylesheet.css')}}"
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Learn Thai Consonants</title>
    <script type="text/javascript" src="javascript/app.js"></script>
  </head>
  <body>
  <header class="header">
    <h1>Welcome {{ name }} Learn Thai Consonants</h1>
  </header>
    <nav class="nav">
    </nav>
    <main class="main">
      <p class="introduction">Bacon ipsum dolor amet salami pork chop bresaola chuck short loin prosciutto. Pig brisket cow flank, venison tail leberkas sirloin spare ribs jowl short loin ham hock. Shoulder shankle jowl, short ribs brisket flank prosciutto ground round bacon kielbasa pig tri-tip tongue salami. Brisket beef ribs short ribs, biltong corned beef landjaeger fatback cupim jowl cow shankle leberkas meatball pancetta. Tri-tip shankle chicken shoulder jerky drumstick shank andouille ribeye leberkas burgdoggen short ribs pig turducken boudin. Bacon pastrami beef ribs cupim, pork loin biltong corned beef ham shankle rump short ribs ball tip strip steak. Fatback pastrami kielbasa turducken beef corned beef venison sirloin cupim.</p>
    </main>
    <section class="section">
      <div class="container">
        <div class = "consonants mid-tone" id"">
          <ul>
            <li><a href="#chicken-link">chicken</a></li>
            <li>ก</li>
            <li>ก ไก</li>
            <li>k/k</li>
            <li>mid</li>
          </ul>
        </div>
        <div class="consonants  high-tone" id"">
          <ul>
            <li><a href="#egg-link">egg</a>
            <li>ข</li>
            <li>ข ไข่</li>
            <li>kh/k</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#bottle-link">bottle</a></li>
            <li>ฃ</li>
            <li>ฃ ฃวด</li>
            <li>kh/k</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#water-buffalo-link">water buffalo</a></li>
            <li>ค</li>
            <li>ค ควาย</li>
            <li>kh/k</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#person-link">person</a></li>
            <li>ฅ</li>
            <li>ฅ คน</li>
            <li>kh/k</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#bell-link">bell</a></li>
            <li>ฆ</li>
            <li>ฆ ระฆัง</li>
            <li>kh/k</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#snake-link">snake</a></li>
            <li>ง</li>
            <li>ง งู</li>
            <li>ng/ng</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants mid-tone" id"">
          <ul>
            <li><a href="#plate-link">plate</a></li>
            <li>จ</li>
            <li>จ จาน</li>
            <li>ch/t</li>
            <li>mid</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#cymbals-link">cymbals</a></li>
            <li>ฉ</li>
            <li>ฉ ฉิ่ง</li>
            <li>ch/-</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#elephant-link">elephant</a></li>
            <li>ช</li>
            <li>ช ช้าง</li>
            <li>ch/t</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#chain-link">chain</a></li>
            <li>ซ</li>
            <li>ซ โซ่</li>
            <li>s/t</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#tree-link">tree</a></li>
            <li>ฌ</li>
            <li>ฌ เฌอ</li>
            <li>ch/-</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#woman-link">woman</a></li>
            <li>ญ</li>
            <li>ญ หญิง</li>
            <li>y/n</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants mid-tone" id"">
          <ul>
            <li><a href="#head-dress-link">head dress</a></li>
            <li>ฎ</li>
            <li>ฎ ชฎา</li>
            <li>d/t</li>
            <li>mid</li>
          </ul>
        </div>
        <div class="consonants mid-tone" id"">
          <ul>
            <li><a href="#javelin-link">javelin</a></li>
            <li>ฏ</li>
            <li>ฏ ปฏัก</li>
            <li>t/t</li>
            <li>mid</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#pedestal-link">pedestal</a></li>
            <li>ฐ</li>
            <li>ฐ ฐาน</li>
            <li>th/t</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#montho-link">montho</a></li>
            <li>ฑ</li>
            <li>มณโฑ</li>
            <li>th/t</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#elder-link">elder</a></li>
            <li>ฒ</li>
            <li>ผู้เฒ่า</li>
            <li>th/t</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#novice-monk-link">novice monk</a></li>
            <li>ณ</li>
            <li>เณร</li>
            <li>n/n</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants mid-tone" id"">
          <ul>
            <li><a href="#child-link">child</a></li>
            <li>ด</li>
            <li>ด็ก</li>
            <li>d/t</li>
            <li>mid</li>
          </ul>
        </div>
        <div class="consonants mid-tone" id"">
          <ul>
            <li><a href="#turtle-link">turtle</a></li>
            <li>ต</li>
            <li>เต่า</li>
            <li>t/t</li>
            <li>mid</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#sack-link">sack</a></li>
            <li>ถ</li>
            <li>ถุง</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#soldier-link">soldier</a></li>
            <li>ท</li>
            <li>ทหาร</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#flag-link">flag</a></li>
            <li>ธ</li>
            <li>ธง</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#mouse-link">mouse</a></li>
            <li>น</li>
            <li>นู</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants mid-tone" id"">
          <ul>
            <li><a href="#leaf-link">leaf</a></li>
            <li>บ</li>
            <li>ใบไบ้</li>
            <li>mid</li>
          </ul>
        </div>
        <div class="consonants mid-tone" id"">
          <ul>
            <li><a href="#fish-link">fish</a></li>
            <li>ป</li>
            <li>ปลา</li>
            <li>mid</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#bee-link">bee</a></li>
            <li>ผ</li>
            <li>ผึ้ง</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#lid-link">lid</a></li>
            <li>ฝ</li>
            <li>ฝา</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#tray-link">tray</a></li>
            <li>พ</li>
            <li>พาน</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#teeth-link">teeth</a></li>
            <li>ฟ</li>
            <li>ฟัน</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#sailboat-link">sailboat</a></li>
            <li>ภ</li>
            <li>สำเภา</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#horse-link">horse</a></li>
            <li>ม</li>
            <li>ม้า</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#giant-link">giant</a></li>
            <li>ย</li>
            <li>ยักษ์</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#boat-link">boat</a></li>
            <li>ร</li>
            <li>เรือ</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#monkey-link">monkey</a></li>
            <li>ล</li>
            <li>ลิง</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#ring-link">ring</a></li>
            <li>ว</li>
            <li>แหวน</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#pavilion-link">pavilion</a></li>
            <li>ศ</li>
            <li>ศาลา</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#hermit-link">hermit</a></li>
            <li>ษ</li>
            <li>ฤาษี</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#tiger-link">tiger</a></li>
            <li>ส</li>
            <li>เสอ</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants high-tone" id"">
          <ul>
            <li><a href="#box-link">box</a></li>
            <li>ห</li>
            <li>หีบ</li>
            <li>high</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#kite-link">kite</a></li>
            <li>ฬ</li>
            <li>จุฝา</li>
            <li>low</li>
          </ul>
        </div>
        <div class="consonants" id"">
          <ul>
            <li><a href="#basin-link">basin</a></li>
            <li>ฬ</li>
            <li>จุฝา</li>
            <li>no tone</li>
          </ul>
        </div>
        <div class="consonants low-tone" id"">
          <ul>
            <li><a href="#owl-link">owl</a></li>
            <li>ฮ</li>
            <li>นกฮูก</li>
            <li>low</li>
          <ul>
        </div>
      </div>
    </section>
    <section class="section-2">
      <div class="container">
        <div class="chicken-main consonants-section" >
          <h2 id="chicken-link">Chicken</h2>
          <img src="https://dummyimage.com/600x400/000/fff.jpg" alt="chicken"
          srcset="https://dummyimage.com/600x400/000/fff.jpg 200w,
          https://dummyimage.com/600x400/000/fff-2x.jpg 400w,
          https://dummyimage.com/600x400/000/fff-3x.jpg 600w">
          <h3>ก</h3>
          <h4>gor gai</li>
          <ul>
            <li>Characteristics</li>
            <li>mid tone</li>
            <li>initial sound: g</li>
            <li>final sound: i</li>
          </ul>
        </div>
        <div>
          <h2 class="egg-main consonants-section " id="egg-link">Egg</h2>
        </div>
        <div>
          <h2 class="bottle-main consonants-section " id="bottle-link">Bottle</h2>
        </div>
        <div>
          <h2 class="water-buffalo-main consonants-section " id="water-buffalo-link">Water Buffalo</h2>
        </div>
        <div>
          <h2 class="person-main consonants-section " id="person-link">Person</h2>
        </div>
        <div>
          <h2 class="bell-main consonants-section " id="bell-link">Bell</h2>
        </div>
        <div>
          <h2 class="snake-main consonants-section " id="snake-link">Snake</h2>
        </div>
        <div>
          <h2 class="plate-main consonants-section " id="plate-link">Plate</h2>
        </div>
        <div>
          <h2 class="cymbals-main consonants-section " id="cymbals-link">Cymbals</h2>
        </div>
        <div>
          <h2 class="elephant-main consonants-section " id="elephant-link">Elepant</h2>
        </div>
        <div>
          <h2 class="chain-main consonants-section " id="chain-link">Chain</h2>
        </div>
        <div>
          <h2 class="tree-main consonants-section " id="tree-link">Tree</h2>
        </div>
        <div>
          <h2 class="woman-main consonants-section " id="woman-link">Woman</h2>
        </div>
        <div>
          <h2 class="head-dress-main consonants-section " id="head-dress-link">Head Dress</h2>
        </div>
        <div>
          <h2 class="javelin-main consonants-section " id="javelin-link">Javelin</h2>
        </div>
        <div>
          <h2 class="pedestal-main consonants-section " id="pedestal-link">Pedestal</h2>
        </div>
        <div>
          <h2 class="montho-main consonants-section " id="montho-link">Montho</h2>
        </div>
        <div>
          <h2 class="elder-main consonants-section " id="elder-link">Elder</h2>
        </div>
        <div>
          <h2 class="novice-monk-main consonants-section " id="novice-monk-link">Novice Monk</h2>
        </div>
        <div>
          <h2 class="child-main consonants-section " id="child-link">Child</h2>
        </div>
        <div>
          <h2 class="turtle-main consonants-section " id="turtle-link">Turtle</h2>
        </div>
        <div>
          <h2 class="sack-main consonants-section " id="sack-link">Sack</h2>
        </div>
        <div>
          <h2 class="soldier-main consonants-section " id="soldier-link">Soldier</h2>
        </div>
        <div>
          <h2 class="flag-main consonants-section " id="flag-link">Flag</h2>
        </div>
        <div>
          <h2 class="mouse-main consonants-section " id="mouse-link">Mouse</h2>
        </div>
        <div>
          <h2 class="leaf-main consonants-section " id="leaf-link">Leaf</h2>
        </div>
        <div>
          <h2 class="fish-main consonants-section " id="fish-link">Fish</h2>
        </div>
        <div>
          <h2 class="bee-main consonants-section " id="bee-link">Bee</h2>
        </div>
        <div>
          <h2 class="lid-main consonants-section " id="lid-link">Lid</h2>
        </div>
        <div>
          <h2 class="tray-main consonants-section " id="tray-link">Tray</h2>
        </div>
        <div>
          <h2 class="teeth-main consonants-section " id="teeth-link">Teeth</h2>
        </div>
        <div>
          <h2 class="sailboat-main consonants-section " id="sailboat-link">Sailboat</h2>
        </div>
        <div>
          <h2 class="horse-main consonants-section " id="horse-link">Horse</h2>
        </div>
        <div>
          <h2 class="giant-main consonants-section " id="giant-link">Giant</h2>
        </div>
        <div>
          <h2 class="boat-main consonants-section " id="boat-link">Boat</h2>
        </div>
        <div>
          <h2 class="monkey-main consonants-section " id="monkey-link">Monkey</h2>
        </div>
        <div>
          <h2 class="ring-main consonants-section " id="ring-link">Ring</h2>
        </div>
        <div>
          <h2 class="pavilion-main consonants-section " id="pavilion-link">Pavilion</h2>
        </div>
        <div>
          <h2 class="hermit-main consonants-section " id="hermit-link">Hermit</h2>
        </div>
        <div>
          <h2 class="tiger-main consonants-section " id="tiger-link">Tiger</h2>
        </div>
        <div>
          <h2 class="box-main consonants-section " id="box-link">Box</h2>
        </div>
        <div>
          <h2 class="kite-main consonants-section " id="kite-link">Kite</h2>
        </div>
        <div>
          <h2 class="basin-main consonants-section " id="basin-link">Basin</h2>
        </div>
        <div>
          <h2 class="owl-main consonants-section " id="owl-link">Owl</h2>
        </div>
      </div>
    </section>

    <footer class="footer">copyright Kennedy DeSousa 2017, All Rights Reserved.</footer>
  </body>
</html>
