.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  background-color: red;
  height: 200px;
}

.nav {
  background-color: yellow;
  height: 150px;
}

.main {
  background-color: #DEF2F1;
  height: auto;
}

.section {
  background-color: #3AAFA9;
  height: auto;
}

.footer {
  background-color: green;
  height: auto;
}
.characters-thai {
  padding: 40px;
  text-align: center;
}
.characters-english {
  padding: 40px;
  text-align: center;
  position: relative;
  z-index: 0;
}
/*Tone Colors */
.low-tone {
  background-color: #17252A;
  color: #FEFFFF;
  width: 150px;
  height: 150px;
  z-index: 2;
}
.mid-tone {
  background-color: #2B7A78;
  color: #FEFFFF;
  width: 150px;
  height: 150px;
  z-index: 2;
}
.high-tone {
  background-color: #3AAFA9;
  color: #FEFFFF;
  width: 150px;
  height: 150px;
  z-index: 2;
}
/*Consonant boxes*/
.consonants {
  /*background-color: white;*/
  width: 150px;
  height: 150px;
  z-index: 5;
  border: black solid;
}
.box-center {
  padding:50px;
  text-align: center;
}
.consonants-section {
  width: 100%;
}

.chicken {
  background-image: url("paper.gif");
}
